<div class="container">
  <h1> Búsqueda de Elementos</h1>

  <mat-form-field color="primary" role="search">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input aria-label="Buscar Elemento">
  </mat-form-field>


  <table mat-table [dataSource]="dataSource" multiTemplateDataRows role="grid" aria-describedby="tableInfo" >

    <ng-container matColumnDef="position">

      <td mat-header-cell *matHeaderCellDef role="columnheader"> Number</td>

      <td mat-cell *matCellDef="let element" role="gridcell">{{element.position}}</td>

    </ng-container>

    <ng-container matColumnDef="image">

      <td mat-header-cell *matHeaderCellDef role="columnheader"> Image</td>

      <td mat-cell *matCellDef="let element" role="gridcell">

        <img src="{{element.image}}" alt="{{element.name}} image" width="100" height="100">

      </td>

    </ng-container>



    <ng-container matColumnDef="name">

      <td mat-header-cell *matHeaderCellDef role="columnheader"> Name</td>

      <td mat-cell *matCellDef="let element" role="gridcell">{{element.name}}</td>

    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns" role="row"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;" role="row"

        (click)="getRow(row)" tabindex="0" aria-label="Detalle de la fila"></tr>

    <tr class="mat-row" *matNoDataRow role="row">

      <td class="mat-cell" [colSpan]="4" role="gridcell"> We dont have information "{{input.value}}"</td>

    </tr>

  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
    showFirstLastButtons
  role="Navigation">
  </mat-paginator>
</div>


